extends baseEmail 

block content
 .email-container
    h1.header Report Status Updated
    p Hello #{firstName}, 
    p We wanted to let you know that the status of your report: 
      strong #{title} 
      Span has been updated to:
      span.status #{status.charAt(0).toUpperCase() + status.slice(1)}
    p 

    if url
      p For more details, please visit: 
        a(href=url target="_blank") #{url}

    p Regards, 
    p The iReporter Team
